<template>
    <require from="ag-grid/dist/styles/ag-grid.css"></require>
    <require from="ag-grid/dist/styles/ag-theme-dark.css"></require>
    <h1>Aurelia Ag Grid!</h1>
    <div>
        <div style="width: 100%; height: 350px;">
            <ag-grid-aurelia #agGrid style="width: 100%; height: 100%;" class="ag-theme-dark" grid-options.bind="gridOptions" grid-ready.call="onReady($event)">
                <ag-grid-column header-name="athlete" field="athlete"></ag-grid-column>
                <ag-grid-column header-name="country" field="country"></ag-grid-column>
                <ag-grid-column header-name="sport" field="sport"></ag-grid-column>
            </ag-grid-aurelia>
        </div>
    </div>
</template>